doctype html
html(lang="en")
  head
    title= "URL shorterner"
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="/script.js")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    
    #container
      h1 URL-shorterner
      code#result
      br
      form
        input(type='text')#url_input
        button.btn#submit Submit
      h3 API Example usage:
      code https://intense-retreat-50168.herokuapp.com/new/http://google.com
      h3 API Example output
      code https://intense-retreat-50168.herokuapp.com/BJ9nCdFyl